# python
**/__pycache__/
src/python/env/
src/python/*.egg-info
src/python/pyproject.toml
src/python/setup.cfg
src/python/build/

# python examples
examples/python/data/
examples/python/env/
# django database migrations
examples/python/rt_webapp/**/migrations/

# javascript
**/node_modules/
**/package-lock.json

# java
src/java/**/target/
examples/java/**/target/
examples/java/rt_app/lib/

# videos
docs/*.mp4

# dist
dist/

# generated docs
docs/jsdocs/
docs/pdocs/
docs/javadocs

# sqlite
**/*.sqlite3

# secrets
secret/

# vscode
.vscode/

# mac os
**/.DS_Store
