# python
**/__pycache__/
src/python/env/
src/python/*.egg-info
src/python/pyproject.toml
src/python/setup.cfg
src/python/build/

# python examples
examples/python/data/
examples/python/env/
# django database migrations
examples/python/rt_webapp/**/migrations/

# javascript
**/node_modules/

# videos
docs/*.mp4

# dist
dist/

# sqlite
**/*.sqlite3

# secrets
secret/
